.name-and-role {
  position: fixed;
  left: 38px;
  bottom: 30px;
}

.name-and-role__link {
  font-weight: 700;
  color: var(--color-text);
}

.name-and-role__link:hover,
.name-and-role__link:focus {
  color: var(--color-gitlab-orange);
}
