:root {
  --color-primary: rgb(120, 139, 207);
  --color-text: rgb(230, 230, 230);
  --color-background: rgb(37, 37, 37);

  --font-family: 'Karla', sans-serif;
  --font-size-base: 10px;
  --font-size-body: 1.8rem;
  --font-size-h1: 4.0rem;
  --font-size-h2: 2.6rem;
  --font-weight-body: 500;
  --font-weight-link: 500;
  --font-weight-h1: 400;
  --font-weight-h2: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: rgb(30, 30, 30);
    --color-background: rgb(246, 243, 243);
  }
}

@media (max-width: 630px) {
  :root {
    --font-size-h1: 3.4rem;
    --font-size-h2: 2.0rem;
  }
}
@media (max-width: 460px) {
  :root {
    --font-size-h1: 2.6rem;
    --font-size-h2: 1.8rem;
    --font-size-body: 1.6rem;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  background: var(--color-background);
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-link);
  color: var(--color-primary);
  line-height: 1;
}

a:hover {
  opacity: 0.5;
}

h1 {
  margin: 0;
  font-weight: var(--font-weight-h1);
  font-size: var(--font-size-h1);
  line-height: 1.2;
}

h2 {
  margin: 0;
  font-weight: var(--font-weight-h2);
  font-size: var(--font-size-h2);
  line-height: 1.2;
}

.central {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
