:root {
  --color-primary: rgb(60, 95, 255);
  --color-text: rgb(230, 230, 230);
  --color-background: rgb(30, 30, 30);

  --font-family: "Karla", sans-serif;
  --font-family-mono: "Source Code Pro", monospace;
  --font-size-base: 10px;
  --font-size-body: 1.6rem;
  --font-weight-body: 500;
  --font-weight-link: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: rgb(8, 27, 236);
    --color-text: rgb(25, 25, 25);
    --color-background: rgb(252, 242, 242);
  }
}

@media (max-width: 360px) {
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.4rem;
    --font-size-body: 1.4rem;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  background: var(--color-background);
  font-family: var(--font-family);
  color: var(--color-text);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-link);
  color: var(--color-primary);
  line-height: 1;
}

.central {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
